.Burguer {
  width: 30px;
  height: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.BurguerActive {
  width: 30px;
  height: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.BurguerActive div:nth-child(1) {
  transform: rotate(-45deg);
}

.BurguerActive div:nth-child(2) {
  width: 100%;
  transform: rotate(45deg);
}

.spanBurguerActive:nth-child(2) {
  width: 80%;
}

.spanBurguerActive {
  width: 100%;
  height: 3px;
  
  display: block;
  background: var(--text);

  transform-origin: 19.5px;

  transition: transform 0.2s ;
}