.sidebar__container {
  width: 6rem;
  height: 100%;

  position: absolute;

  background: var(--white);
}

.sidebar__wrapper{
  width: 100%;
  height: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebarHeader {
  margin-top: 2rem;
}

.awards {
  margin-top: 1.5rem;
}