.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-width: 695px ) {
  .container {
    height: 100%;
  }

  .container section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 1.5rem;
  }
}