.Container {
  width: 100%;
  height: 100vh;
  background: var(--blue);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: linear-gradient(-45deg, var(--blue), var(--blue-dark), var(--blue-twitter), #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.Container img {
  margin-top: 4rem;
  width: 40%;
}

.rightContainer {
  margin-right: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightContainer h1 {
  color: var(--white);

  font-weight: 600;
  font-size: 36px; 
  line-height: 46px;
}

.rightContainer img {
  margin-top: 0;
  width: 20rem;
}

.loginHeader {
  margin: 4rem 0;
}

.loginGithub {
  display: flex;
  align-items: center;

  margin-top: 2rem;
}

.loginGithub p {
  width: 254px;

  color: var(--white);

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.loginGithub img {
  width: 4rem;
  margin-top: 0;
  margin-right: 1rem;
}

.loginMain {
  display: flex;

  box-sizing: border-box;

  background: linear-gradient(-45deg, var(--blue), var(--blue-dark), var(--blue-twitter), #9FEFDD);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  border-radius: 5px;
}

.loginMain input {
  width: 20rem;
  height: 4rem;
  
  color: var(--white);

  padding: 1rem ;

  background: transparent;

  border: none;
}

.loginMain button {
  width: 4rem;  

  background-color: transparent;
  
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  transition: all 0.3s ease;

  outline: none;
}

.loginMain button:hover {
  border: 1px solid #ffffffb3;
  border-radius: 0 5px 5px 0;
}

.loginMain button img {
  width: 2rem;
  margin-top: 0;
}
